/*------------------------------------folder de pie de pagina----------------------------------------*/
.container-fooder{
    margin-top: -10px;
    width: 200%;
    padding: 10px;
    position: relative;
    display:block;
}
.container-fooder footer{
    margin: auto;
}
.container-fooder footer .logo-fooder{
    text-align: center;
}
.container-fooder footer .logo-fooder img{
    width: 100px;
    
}
.container-fooder footer .redes-fooder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-fooder footer .redes-fooder .icon-redes-fooder{
    font-size: 20px;
    margin: 20px;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: rgba(18, 18, 19, 0.212);
}  
.container-fooder footer .redes-fooder .fa-facebook-f:hover{
    background: #41579a;
    color: #ffffff;
}
.container-fooder footer .redes-fooder .fa-google-plus-g:hover{
    background: #ca183f;
    color: #ffffff;
}
.container-fooder footer .redes-fooder .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30 ,#e9712a,#d23138,#ae4198,#7548a1,#5443a8 );
    color: #ffffff;
}
.container-fooder footer .redes-fooder .fa-whatsapp:hover{
    background: #3eb34e;
    color: #ffffff;
}
.container-fooder hr{
    margin-top: 5px;
    border: none;
    height: 2px;
    background: rgba(253, 132, 62, 0.973);
}
.container-fooder h4{
    text-align:center;
    margin-top: 10px;
    color: rgba(253, 132, 62, 0.973);
    font-weight: 500;
}