/*---------Portada-----------*/
.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../Biblioteca/Portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px black;
}
.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.container-info-cover h3{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.container-info-cover p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    
}